Archive/AI_Job_Match_updated.json
{
  "name": "Daily_Job_Match",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2848,
        416
      ],
      "id": "a8f3d026-bc1d-49a9-8701-6f0cf4d380dd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2208,
        416
      ],
      "id": "bf825d64-4f33-4473-b815-95b4d57758d8",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/curious_coder~linkedin-jobs-scraper/run-sync-get-dataset-items?token={{ $('Config').item.json.apifyApiToken }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Config').item.json.apifyApiToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"count\": 50,\n    \"scrapeCompany\": true,\n    \"urls\": [\n        \"https://www.linkedin.com/jobs/search?keywords=Business%20Analyst&location=Paris%2C%20France&f_TPR=r86400\",\n        \"https://www.linkedin.com/jobs/search?keywords=CRM%20Analyst&location=Paris%2C%20France&f_TPR=r86400\",\n        \"https://www.linkedin.com/jobs/search?keywords=Commercial%20Analyst&location=Remote&f_TPR=r86400\"\n    ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1664,
        416
      ],
      "id": "625087e7-e6a5-4bbe-972b-637324f652cc",
      "name": "Linkedin"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a professional AI assistant that evaluates how well a candidate's CV fits a specific job.\n\n## GOAL\nCompare the candidate's CV and the job description, evaluate their fit across defined categories, and return STRICT JSON only.\n\n---\n\n### INPUTS\n- Candidate CV:\n{{ $json.cv_text }}\n- Job description:\n{{ $json.job_text }}\n\n---\n\n### TASKS\n1. Understand the role\n   - Write a neutral 2-3 sentence summary of what the job is about.\n   - Extract 3-5 concise keywords that capture its main role, domain, tools, and responsibilities.\n\n2. Assess fit\n   - Produce 2-3 short bullet points showing how the candidate's background or experience matches the role.\n   - Write a short connector that links the candidate's profile to the job's mission or business focus.\n\n3. Score fit across categories\n\n| Category | Range | Guidance |\n|-----------|-------|-----------|\n| background_match | 0-10 | Fit between the candidate's education, industry exposure, and the role domain |\n| skills_overlap | 0-30 | Match between required tools, technical skills, analytical skills, and soft skills |\n| experience_relevance | 0-30 | Alignment between listed responsibilities and the candidate's past projects/work |\n| seniority | 0-10 | 10 = entry-level/junior fit; 0 = clearly too senior or managerial |\n| language_requirement | 0-10 | 10 = candidate meets language/location requirements; 0 = hard mismatch |\n| company_score | 0-10 | Fit between the company/industry context and the candidate's target direction |\n\nThen compute:\noverall = background_match + skills_overlap + experience_relevance + seniority + language_requirement + company_score\n\n---\n\n### RULES\n- Use only information found in the CV and job text.\n- Do not invent experience, skills, achievements, languages, degrees, or locations.\n- Return one valid JSON object exactly matching the schema below.\n- No markdown, explanations, or natural-language text outside the JSON.\n- score.overall must equal the sum of the sub-scores.\n\n---\n\n### OUTPUT SCHEMA\n{\n  \"score\": {\n    \"overall\": 0,\n    \"background_match\": 0,\n    \"skills_overlap\": 0,\n    \"experience_relevance\": 0,\n    \"seniority\": 0,\n    \"language_requirement\": 0,\n    \"company_score\": 0\n  },\n  \"summary\": \"2-3 sentence neutral summary of the role\",\n  \"keywords\": [\"keyword1\", \"keyword2\", \"keyword3\"],\n  \"fit_bullets\": [\n    \"bullet1\",\n    \"bullet2\"\n  ],\n  \"connector\": \"1-2 sentences linking the candidate's experience to this role\"\n}\n\n---\n\n### OUTPUT EXAMPLE\n{\n  \"score\": {\n    \"overall\": 78,\n    \"background_match\": 8,\n    \"skills_overlap\": 23,\n    \"experience_relevance\": 22,\n    \"seniority\": 9,\n    \"language_requirement\": 8,\n    \"company_score\": 8\n  },\n  \"summary\": \"This role focuses on business analysis, data reporting, and cross-functional coordination for a commercial team. The position requires translating operational data into insights and supporting process improvement.\",\n  \"keywords\": [\"business analysis\", \"CRM\", \"reporting\", \"stakeholder coordination\"],\n  \"fit_bullets\": [\n    \"The candidate has experience working with structured data and turning analysis into clear business recommendations.\",\n    \"The candidate's coordination and reporting experience aligns with the role's cross-functional responsibilities.\"\n  ],\n  \"connector\": \"The candidate's analytical background and project coordination experience can support the team's need for practical, data-informed decision-making.\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -512,
        224
      ],
      "id": "577755e3-daaa-4e0b-a626-ee636e252a20",
      "name": "Score the job and extract",
      "retryOnFail": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0619efc8-36c0-40ae-a873-68be9b0bbf3b",
              "name": "apifyApiToken",
              "value": "YOUR_APIFY_API_TOKEN",
              "type": "string"
            },
            {
              "id": "a5a26dc1-d939-4aee-a01e-94166fb0fa71",
              "name": "topDetailed",
              "value": "5",
              "type": "string"
            },
            {
              "id": "66633cbc-76c5-47af-8c1b-3af64626a711",
              "name": "topTotal",
              "value": "15",
              "type": "string"
            },
            {
              "id": "7c3a4b5d-6e7f-8g9h-0i1j-2k3l4m5n6o7p",
              "name": "keywords",
              "value": "[\"data scientist\", \"data analyst\"]",
              "type": "string"
            },
            {
              "id": "8d4b5c6e-7f8g-9h0i-1j2k-3l4m5n6o7p8q",
              "name": "location",
              "value": "Paris",
              "type": "string"
            },
            {
              "id": "9e5c6d7f-8g9h-0i1j-2k3l-4m5n6o7p8q9r",
              "name": "preferLanguages",
              "value": "[\"English\", \"French\"]",
              "type": "string"
            },
            {
              "id": "0f6d7e8g-9h0i-1j2k-3l4m-5n6o7p8q9r0s",
              "name": "seniorityPreference",
              "value": "junior",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2672,
        416
      ],
      "id": "9ebb3cc0-a6ef-45a6-910a-08e9cd418486",
      "name": "Config"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Normalize a single LinkedIn (Apify) item\nconst j = $json;\n\nreturn {\n  source: 'linkedin',\n\n  id: j.id || '',\n  title: (j.title || '').trim(),\n  company: (j.companyName || '').trim(),\n  location: (j.location || '').trim(),\n\n  url: (j.link || j.applyUrl || '').trim(),\n  apply_url: j.applyUrl || '',\n  posted_at: j.postedAt || new Date().toISOString(),\n\n  seniority_level: j.seniorityLevel || '',\n  employment_type: j.employmentType || '',\n  job_function: j.jobFunction || '',\n  industries: j.industries || '',\n  salary: j.salary || '',\n\n  raw_description: String(j.descriptionText || j.description || ''),\n\n  company_website: j.companyWebsite || '',\n  company_linkedin: j.companyLinkedinUrl || '',\n  company_slogan: j.companySlogan || '',\n  company_description: j.companyDescription || '',\n  company_employees: j.companyEmployeesCount ?? null,\n  company_logo: j.companyLogo || '',\n  company_address: j.companyAddress\n    ? [\n        j.companyAddress.streetAddress,\n        j.companyAddress.addressLocality,\n        j.companyAddress.addressRegion,\n        j.companyAddress.postalCode,\n        j.companyAddress.addressCountry,\n      ]\n        .filter(Boolean)\n        .join(', ')\n    : '',\n\n  text_for_matching: [\n    j.title,\n    j.companyName,\n    j.location,\n    j.descriptionText,\n    j.companyDescription,\n  ]\n    .filter(Boolean)\n    .join(' — ')\n    .replace(/\\s+/g, ' ')\n    .slice(0, 20000),\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        416
      ],
      "id": "aade9446-2fc2-4ab6-a119-74d580356951",
      "name": "NormalizeData"
    },
    {
      "parameters": {
        "jsCode": "// Function node (NOT Function Item)\n\n// stable hash\nfunction hashKey(title, company, url) {\n  const s = (title || '') + '|' + (company || '') + '|' + (url || '');\n  let h = 5381; \n  for (let i = 0; i < s.length; i++) h = ((h << 5) + h) + s.charCodeAt(i);\n  return (h >>> 0).toString(16);\n}\n\n// ban list\nconst BAN = [\n  /student\\s*(assistant|helper)?/i,\n  /\\bstudent\\b/i,\n  /studenter/i,\n  /\\bpost[- ]?doc(toral)?\\b/i,\n  /\\bpraktikant\\b/i,\n];\n\nconst input = $input.all();\nconst seen = new Set();\nconst out = [];\n\nfor (let i = 0; i < input.length; i++) {\n  const src = input[i];\n  const j = { ...(src.json || {}) }; // shallow clone\n\n  // ban check\n  const hay = ((j.title || '') + ' ' + (j.raw_description || '')).toLowerCase();\n  if (BAN.some(re => re.test(hay))) continue;\n\n  // dedupe\n  const k = hashKey(\n    (j.title || '').toLowerCase(),\n    (j.company || '').toLowerCase(),\n    (j.url || '').toLowerCase()\n  );\n  if (seen.has(k)) continue;\n  seen.add(k);\n\n  j.hash = k;\n\n  // preserve pairing so downstream nodes don't complain\n  out.push({\n    json: j,\n    pairedItem: { item: i }\n  });\n}\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        416
      ],
      "id": "79ce6df8-f8d6-4297-9865-0bef7cdf85d7",
      "name": "Filter and deduplicate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6bdc4c8e-3891-4c52-a7c5-3d8dd0565be6",
              "name": "cv_text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1984,
        416
      ],
      "id": "21fc4418-d126-4773-8478-0975f9e2d5ce",
      "name": "MapResume"
    },
    {
      "parameters": {
        "content": "**Schedule Trigger:**\n- Starts the workflow automatically each morning 7:30 ",
        "height": 320,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2864,
        240
      ],
      "typeVersion": 1,
      "id": "298ff337-216a-4d5b-8d33-fdb13f830ca0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "**Configuration**: \nDefines all key workflow parameters such as \n- API tokens, \n- URLs\n- Searching config",
        "height": 320,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2720,
        240
      ],
      "typeVersion": 1,
      "id": "19714570-b816-4ce9-a8d8-6368ad821a85",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "**CV Retrieval and Preprocessing**:\n- Downloads the latest version of your CV from Google Drive\n- Converts your CV PDF into plain text for downstream analysis.\n- Stores and labels the extracted CV text in a consistent field for use by the AI agent.",
        "height": 320,
        "width": 640,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2480,
        240
      ],
      "typeVersion": 1,
      "id": "b80bcf61-b3b3-48f1-9190-0be981e29aa2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "**Job Data Collection and Preprocessing:**\n- Collects fresh job postings from LinkedIn\n- Standardises all job fields\n- Removes duplicates and filters out irrelevant roles with defined keywords\n- Combines each job description with your extracted CV text ",
        "height": 320,
        "width": 976,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1824,
        240
      ],
      "typeVersion": 1,
      "id": "06ca3523-b789-4269-86cb-f4346c26dd92",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// === Prepare compact prompt input for the AI scoring agent ===\n\n// Fetch your CV text from the earlier node\n// (Change 'MapResume' to your actual node name that contains cv_text)\nconst cv_text = $('MapResume').item.json.cv_text;\n\nconst job = $json;\n\n// limit long job text to avoid token waste\nconst maxDesc = 5000; // ~1000 words\nconst cleanDesc = (job.raw_description || '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .slice(0, maxDesc);\n\n// build a structured summary text block for LLM\nconst jobTextBlock = [\n  `Job title: ${job.title || ''}`,\n  `Company: ${job.company || ''}`,\n  job.location ? `Location: ${job.location}` : '',\n  job.seniority_level ? `Seniority: ${job.seniority_level}` : '',\n  job.employment_type ? `Employment type: ${job.employment_type}` : '',\n  job.industries ? `Industry: ${job.industries}` : '',\n  job.job_function ? `Function: ${job.job_function}` : '',\n  '',\n  'Job Description:',\n  cleanDesc,\n].filter(Boolean).join('\\n');\n\n// return one item per job\nreturn {\n  job_text: jobTextBlock,\n  cv_text: cv_text.slice(0, 10000), // safety cap\n  job_meta: {\n    title: job.title || '',\n    company: job.company || '',\n    url: job.url || job.apply_url || '',\n    hash: job.hash || '',\n    location: job.location || '',\n    posted_at: job.posted_at || '',\n    source: job.source || 'LinkedIn'\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -992,
        416
      ],
      "id": "3150b82f-9bc3-444e-af66-02ea788ed125",
      "name": "Prepare AI Input"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n**AI Scoring and Structured Output:**\nScore the Job and Extract:\n• Compares each job with your CV to assess fit.\n• Evaluates across categories (skills, background, experience, etc.).\n• Generates structured JSON with score breakdown, summary, and fit notes.\nStructured Output Parser:\n• Validates and enforces correct JSON format.\n• Ensures every AI response follows the defined schema before merging.\n\n\n",
        "height": 656,
        "width": 672,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        160
      ],
      "typeVersion": 1,
      "id": "d58df203-68e6-4f87-8f0f-9f76dba0c0a3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "**Parse & Merge Results**\n- Convert the chat model’s text response into a clean JSON object\n- Attach job metadata back onto the parsed LLM output.",
        "height": 320,
        "width": 480,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        240
      ],
      "typeVersion": 1,
      "id": "88a5b69b-4cbe-403a-ab0e-7ba209e81e37",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Function Item version – returns ONE object\n\nlet raw;\n\nif (typeof $json.output === 'string') {\n  raw = $json.output;\n} else if ($json.choices?.[0]?.message?.content) {\n  raw = $json.choices[0].message.content;\n} else {\n  raw = JSON.stringify($json);\n}\n\nraw = raw.trim();\nraw = raw.replace(/^```json/i, '').replace(/```$/, '').trim();\n\nlet data;\ntry {\n  data = JSON.parse(raw);\n} catch (e) {\n  const m = raw.match(/\\{[\\s\\S]*\\}/);\n  if (m) {\n    try { data = JSON.parse(m[0]); }\n    catch (e2) { data = { parse_error: e2.message, raw }; }\n  } else {\n    data = { parse_error: e.message, raw };\n  }\n}\n\n// Validate and fix score structure\nif (data && data.score) {\n  // Ensure all required score fields exist\n  const score = data.score;\n  score.background_match = score.background_match || 0;\n  score.skills_overlap = score.skills_overlap || 0;\n  score.experience_relevance = score.experience_relevance || 0;\n  score.seniority = score.seniority || 0;\n  score.language_requirement = score.language_requirement || 0;\n  score.company_score = score.company_score || 0;\n  \n  // Calculate overall if missing\n  if (!score.overall) {\n    score.overall = \n      score.background_match + \n      score.skills_overlap + \n      score.experience_relevance + \n      score.seniority + \n      score.language_requirement + \n      score.company_score;\n  }\n}\n\n// Ensure other required fields have defaults\nif (data) {\n  data.summary = data.summary || 'No summary available';\n  data.keywords = data.keywords || [];\n  data.fit_bullets = data.fit_bullets || [];\n  data.connector = data.connector || 'No connector available';\n}\n\n// FIXED: Retrieve job_meta by referencing the Prepare AI Input node directly\nlet job_meta = {};\n\ntry {\n  // Access the Prepare AI Input node directly using pairing\n  job_meta = $('Prepare AI Input').item.json.job_meta || {};\n} catch (e) {\n  // Fallback methods if direct reference fails\n  if ($json.job_meta) {\n    job_meta = $json.job_meta;\n  } else if ($input.item?.json?.job_meta) {\n    job_meta = $input.item.json.job_meta;\n  } else if ($item(0)?.json?.job_meta) {\n    job_meta = $item(0).json.job_meta;\n  }\n}\n\n// Combine parsed output with job metadata\nreturn {\n  output: data,\n  job_meta: job_meta\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        336
      ],
      "id": "070ac392-f02a-4944-bc9b-33ca0e7496e1",
      "name": "Parse LLM JSON"
    },
    {
      "parameters": {
        "content": "**Top Selection:**\n- Order jobs from best to worst fit\n- Keeps only the top best-fit jobs for report and email",
        "height": 320,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        240
      ],
      "typeVersion": 1,
      "id": "bfd33c4d-63d8-4b3e-94d0-951d6302a139",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "output.score.overall",
              "order": "descending"
            }
          ]
        },
        "options": {
          "disableDotNotation": false
        }
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        416,
        416
      ],
      "id": "4f0d0b74-307b-4c16-86fc-fbc0fb4ce9c8",
      "name": "Rank by Overall Score"
    },
    {
      "parameters": {
        "content": "**Output & Notification**\n- Save the information in Notion database",
        "height": 320,
        "width": 288,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        240
      ],
      "typeVersion": 1,
      "id": "84855deb-ed34-4e35-b454-72bbd4ee3be1",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -544,
        464
      ],
      "id": "a3aa5d84-7257-4827-82f8-d08553d6d471",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2bda309b-df01-8002-a667-db6ce6a486e4",
          "mode": "list",
          "cachedResultName": "Job Applications",
          "cachedResultUrl": "https://www.notion.so/2bda309bdf018002a667db6ce6a486e4"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Job Title|title",
              "title": "={{ $json.job_meta.title }}"
            },
            {
              "key": "Company|rich_text",
              "textContent": "={{ $json.job_meta.company }}"
            },
            {
              "key": "Location|rich_text",
              "textContent": "={{ $json.job_meta.location }}"
            },
            {
              "key": "Posting date|date",
              "date": "={{ $json.job_meta.posted_at }}"
            },
            {
              "key": "Application Link|url",
              "urlValue": "={{ $json.job_meta.url }}"
            },
            {
              "key": "Keywords|multi_select",
              "multiSelectValue": "={{ $json.output.keywords }}"
            },
            {
              "key": "Match score|number",
              "numberValue": "={{ $json.output.score.overall }}"
            }
          ]
        },
        "blockUi": {
          "blockValues": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        848,
        416
      ],
      "id": "fc7b1297-006b-4c4b-817d-270cf18b43ad",
      "name": "Create a database page"
    },
    {
      "parameters": {
        "jsCode": "const config = $('Config').item.json;\nconst keywords = JSON.parse(config.keywords);\nconst location = encodeURIComponent(config.location);\nconst altLocation = encodeURIComponent(config.alternativeLocation);\nconst geoId = config.geoId;\nconst filters = config.jobFilters;\nconst altFilters = config.alternativeJobFilters;\n\n// Add time filter parameter (defaults to past 24 hours)\nconst timeFilter = config.timeFilter || 'r86400'; // r86400 = past 24 hours\n\nconst urls = keywords.map((kw, idx) => {\n  const encodedKw = encodeURIComponent(kw);\n  const loc = idx < 3 ? location : altLocation;\n  const filter = idx < 3 ? filters : altFilters;\n  \n  return `https://www.linkedin.com/jobs/search?keywords=${encodedKw}&location=${loc}&f_TPR=${timeFilter}&position=1&pageNum=0`;\n});\n\nreturn [{\n  json: {\n    count: 100,\n    scrapeCompany: true,\n    urls: urls\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        416
      ],
      "id": "96c2e063-ff65-429c-921f-9f22bc0ae2fc",
      "name": "LinkedinSearchLink"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_DRIVE_FILE_ID",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2432,
        416
      ],
      "id": "8bf4e518-0c7c-4294-b898-37af133304d2",
      "name": "RetrieveCV1"
    },
    {
      "parameters": {
        "jsCode": "// Keep first K highest-scoring items (already sorted)\nconst items = $input.all();\nconst top = items.slice(0, parseInt($('Config').first().json.topTotal));\nreturn top; // they are already {json: ...} items"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        416
      ],
      "id": "02b2a7fc-f8a0-47b2-83df-50d92ac9f0b1",
      "name": "Top Slice"
    },
    {
      "parameters": {
        "content": "**(Optional) Batch Running:**\n- Runs the AI agent in controlled batches \ninstead of sending all items at once.\n- Each batch is processed sequentially and loops back until all items are processed.\n- When complete, all processed items continue to ranking and selection.",
        "height": 400,
        "width": 672,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -832,
        -304
      ],
      "typeVersion": 1,
      "id": "1f61aec8-d335-4c12-8e0a-b47b9c214f85",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        96,
        336
      ],
      "id": "013c7fd0-c176-4558-8fb0-74a073ffb261",
      "name": "Rate Limit Delay2"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -720,
        -64
      ],
      "id": "8b7aaee9-11c3-4466-9f77-a57118445d63",
      "name": "Loop Over Items2",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "MapResume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin": {
      "main": [
        [
          {
            "node": "NormalizeData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score the job and extract": {
      "main": [
        [
          {
            "node": "Parse LLM JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "RetrieveCV1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NormalizeData": {
      "main": [
        [
          {
            "node": "Filter and deduplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter and deduplicate": {
      "main": [
        [
          {
            "node": "Prepare AI Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MapResume": {
      "main": [
        [
          {
            "node": "LinkedinSearchLink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Input": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM JSON": {
      "main": [
        [
          {
            "node": "Rate Limit Delay2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rank by Overall Score": {
      "main": [
        [
          {
            "node": "Top Slice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Score the job and extract",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LinkedinSearchLink": {
      "main": [
        [
          {
            "node": "Linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RetrieveCV1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Top Slice": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Delay2": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Rank by Overall Score",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Score the job and extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "772f64ca-ddfc-4d1d-a119-d7edbd4f4824",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "51a08df3ff7f4ca2e2020dea82578ac5e5e62c8b8585552cc2b200dbebc8319b"
  },
  "id": "ctnD5qiGVqCMO4WP",
  "tags": []
}
